.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}
.outlet-content {
    flex-grow: 1;
    background-color: rgb(241, 241, 241);
    padding: 60px 40px;
}
.links {
    font-size: 20px;
    font-weight: 500;
    color: black;   
    text-decoration: none;
    transition: .1s;    
}

.links:hover {       
    text-decoration: none;
    transform: scale(1.1);    
}