.nav-container {       
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;   
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 7px 2px rgba(95, 218, 252, 0.521);
    -moz-box-shadow: 0px 3px 7px 2px rgba(95, 218, 252, 0.521);
    box-shadow: 0px 3px 7px 2px rgba(95, 218, 252, 0.521);
}

.logo-container{
    padding: 5px 5px;    
    animation: 3s alternate slidein;;    
}

.logo-container img {
    width: 60px;
    height: 60px;
}

@media (prefers-reduced-motion: no-preference) {
    .logo-container img:hover {
      animation: App-logo-spin infinite 1s ease-in-out;
    }
}

  .links-container {
    display: flex;
    gap: 20px;
}

@keyframes slidein {
    0% {
        margin-left: 0%;
        transform: rotate(0deg);
    }
      
    50% {
        margin-left: 15%;
        transform: rotate(360deg);
    }    

    100% {
        margin-left: 0%;
        transform: rotate(0deg);
    }
  }