.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
    .home-img {
      animation: App-logo-spin infinite 10s linear;
    }
  }
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }